

body {
  padding-top: 60px;
/*  background-color: #222;*/
}
@media (max-width: 979px) {
  body {
    padding-top: 200px;

  }
}

.panel-big .panel {
    border: 2px solid black !important;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.panel-title {
    text-align: center;
    color: white !important;
    font-size: 25px;
}

.game {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 400px;
    background-color: white;
    margin-bottom: 10px !important; 
}

.subgroup {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.well.user-data {
    background-color: #222;
    color: white;
}

.title p {
    font-size: 18px;
}


