.panel-group.group-A {
    border-color: #1A237E;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-A {
    background-color: #1A237E;
}

.panel-group.group-B {
    border-color: #004D40;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-B {
    background-color: #004D40;
}

.panel-group.group-C {
    border-color: #303F9F;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-C {
    background-color: #303F9F;
}

.panel-group.group-D {
    border-color: #00796B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-D {
    background-color: #00796B;
}

.panel-group.group-E {
    border-color: #B71C1C;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-E {
    background-color: #B71C1C;
}

.panel-group.group-F {
    border-color: #E65100;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-F {
    background-color: #E65100;
}

.panel-group.group-G {
    border-color: #E53935;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-G {
    background-color: #E53935;
}

.panel-group.group-H {
    border-color: #FFB74D;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.group-H {
    background-color: #FFB74D;
}

.panel-group.stage-8 {
    border-color: #AFB42B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.stage-8 {
    background-color: #AFB42B;
}

.panel-group.stage-4 {
    border-color: #AFB42B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.stage-4 {
    background-color: #AFB42B;
}

.panel-group.stage-2 {
    border-color: #AFB42B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.stage-2 {
    background-color: #AFB42B;
}

.panel-group.stage-3 {
    border-color: #AFB42B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.stage-3 {
    background-color: #AFB42B;
}

.panel-group.stage-1 {
    border-color: #AFB42B;
    box-shadow: 2px 2px 5px grey;
}

.panel-title.stage-1 {
    background-color: #AFB42B;
}





